@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yeongdeok Sea';
    src: url('YeongdeokSea.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

